button{
    width:250px;
    height:80px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #028f76;
}

.boton-clic{
    background-color: #ffeaad;
}

.boton-reiniciar{
    background-color: #d14334;
}

button:hover {
    border-color: #cdd071;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }